{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}

<form action="" method='GET'>
    <div class="row justify-content-end my-3" style="margin-bottom:15px;">
        <div class="col-4 input-group">
            <div class="input-group">
                <input type="text" class="form-control" name="search_key" value="{{ search_key }}"
                    placeholder="looking for...">
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Search">
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</form>

<div class="row">
    <div id="video_list_search" class="col-md-12">
        {% for video in video_list %}
        <a href="/video/{{ video.id }}">
            <h4>{{ video.title }}</h4>
        </a>
        {% endfor %}
    </div>
</div>
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>No.</th>
            <th>종목번호</th>
            <th>시장</th>
            <th>회사명</th>
        </tr>
        </thead>
        <tbody>
        {% if kospi_list %}
        {% for kospi in kospi_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ kospi.Symbol}}</td>
            <td>{{ kospi.Market }}</td>
            <td><a href="{% url 'pybo:kospi_detail' kospi.Symbol %}">{{ kospi.Name }}</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if kospi_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ kospi_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in kospi_list.paginator.page_range %}
        {% if page_number >= kospi_list.number|add:-5 and page_number <= kospi_list.number|add:5 %}
            {% if page_number == kospi_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if kospi_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ kospi_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
{% endblock %}

