{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.4.0.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.0.min.css" rel="stylesheet" type="text/css">
    
    <!-- pybo CSS -->
    <title>Finance Data</title>
</head>

<body>
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- jQuery JS -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
{% include "footer.html" %}
</body>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.0.min.js"></script>
{{script| safe}}
{{script1| safe}}
{{script2| safe}}
{{script3| safe}}



</html>